.logo{
  position: absolute;
  left: 20%;
}

.login-logo{
  position: absolute;
  right: 15%;
  top: 25%;
  display:inline-block;
}

.login-cup{
  position: relative;
  /* align-items: center; */
  left: 20%;
  top: 150%
}