.logo{
  position: absolute;
  left: 10%;
}

.login-logo{
  position: absolute;
  right: 15%;
  top: 25%;
  display:inline-block;
}

.login-cup{
  position: relative;
  left: 20%;
  top: 150%
}

.body{
  font-family:Arial, Helvetica, sans-serif
}